@import '../../assets/scss/mixing.scss';

.aprende-hero {
  border             : 1px solid lime;
  position           : relative;
  padding            : 0 20px;
  padding-top        : 70vh;
  background-position: top center;
  background-repeat  : no-repeat;
  background-color   : black;
  z-index            : 1;

  // color: white;
  &::before {
    content         : '';
    position        : absolute;
    background      : transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 45%, rgba(0, 0, 0, 0.75) 55%, rgb(0, 0, 0) 80%);

    width  : 100%;
    height : 15vh;
    top    : 50vh;
    left   : 0;
    z-index: 0;

  }

  &--content {
    border    : 1px solid lime;
    text-align: center;
    color     : white;

    h1 {
      font-family: 'CollierBook';
      font-size  : toRem(30);

      span {
        clear     : both;
        display   : inline-block;
        background: #5256A3;
        padding   : 5px 15px;
      }
    }
  }
}